/* styles.css */
.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  background-color: #1a1a1a;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffd700;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}

.nav-links a,
.nav-links button {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
  align-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links button:disabled {
  color: rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}

.nav-links a:hover,
.nav-links button:hover {
  color: #00d4ff;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease-out;
}

.mobile-menu a,
.mobile-menu button {
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  transition: background 0.3s;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu button:disabled {
  color: rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}

.mobile-menu a:hover,
.mobile-menu button:hover {
  background-color: rgba(0, 212, 255, 0.1);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Адаптивность */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links {
    display: none;
  }
}
